/* 
---- 01 TYPOGRAPHY SYSTEM

--Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

--Font weights
400 / 600 / 700

--Line heights
Default: 1
1.05
1.6

---- 02 COLORS

--Primary: #1971c2
--Secondary: #e8e8e8
--Tints: #fdf2e9
--Shades: #a82b2b
--Accents:
--Greys: #495057, #333, #555

---- 03 SHADOWS

---- 04 BORDER-RADIUS
Default: 9px

----05 WHITESPACE

--Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(240, 62, 62, 0.5);
} */

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /*  Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does not work for safari browser */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

.page-wrapper {
  box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  overflow: hidden;
}

/****************************************/
/* REUSABLE SECTION */
/****************************************/

.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5;
  margin-bottom: 3.2rem;
  padding: 0 3.2rem;
  color: #333;
}

.container {
  max-width: 120rem;
  /* padding: 0 3.2rem; */
  margin: 10.2rem auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  padding: 1.4rem 2.8rem;
  text-decoration: none;
  border-radius: 9px;
  font-weight: 500;

  /* Only for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

/* .btn:hover,
.btn:active {
} */

.sub-heading {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 4.8rem;
}
