/* 
---- 01 TYPOGRAPHY SYSTEM

--Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

--Font weights
400 / 600 / 700

--Line heights
Default: 1
1.05
1.6

---- 02 COLORS

--Primary: #1971c2
--Secondary: #e8e8e8
--Tints: #fdf2e9
--Shades: #a82b2b
--Accents:
--Greys: #495057, #333, #555

---- 03 SHADOWS

---- 04 BORDER-RADIUS
Default: 9px

----05 WHITESPACE

--Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

/****************************************/
/* HEADER SECTION */
/****************************************/

a {
  text-decoration: none;
}

/****************************************/
/* NAVIGATION SECTION */
/****************************************/

.name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #333;
}

.name:hover {
  color: #1971c2;
}

.nav-bar {
  height: 6rem;
  padding: 0 4.8rem;
  width: 100%;
  background-color: rgb(255, 255, 255);

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-options {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-option:link,
.nav-option:visited {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

.nav-option:hover,
.nav-option:active {
  color: #1971c2;
  border-bottom: 3px solid #1971c2;
}

/****************************************/
/* HERO SECTION */
/****************************************/

.section-hero {
  height: 100%;
  width: 100%;
  padding: 4.2rem 4.2rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero {
  height: 50vh;

  background-image: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-details {
  grid-column: 2 / 3;
  align-self: flex-end;
}

.hero-name {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5;
  padding: 0 3.2rem;
  color: #fff;
}

.hero-description {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  padding: 0 3.2rem;
  color: #ccc;
}

.hero-icons {
  padding: 0 3.2rem 0.9rem 3.2rem;
  display: flex;
  gap: 1.6rem;
}

.contact-hero-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #fff;
  z-index: 1;
}

/****************************************/
/* PROFILE SECTION */
/****************************************/

.section-profile {
  padding: 0 4.2rem 4.2rem 4.2rem;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3.2rem;
}

.profile-img {
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  margin: 3.2rem 4.8rem;
  border: 5px solid #fff;
  position: absolute;
  top: 15.6rem;
}

.profile-details {
  grid-column: 2 / 3;
}

.profile-description {
  padding: 0 4.2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: #555;
}

/****************************************/
/* EDUCATION SECTION */
/****************************************/

.section-edu {
  background-color: #d1e3f3;
  padding: 4.2rem;
}

.education {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3.2rem;
}

.edu-details {
  grid-column: 2 / 3;
  padding: 4.2rem;
}

.edu-title {
  font-size: 3.4rem;
  font-weight: 600;
  color: #333;
  padding-bottom: 0.4rem;
}

.edu-tag {
  font-size: 1.4rem;
  font-weight: 400;
  color: #777;
  padding-bottom: 1.8rem;
}

.edu-description {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #555;
}

/****************************************/
/* EXPERIENCE SECTION */
/****************************************/

.section-exp {
  padding: 4.2rem;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3.2rem;
}

.exp-details {
  grid-column: 2 / 3;
  padding: 4.2rem;
}

.exp-title {
  font-size: 3.4rem;
  font-weight: 600;
  color: #333;
  padding-bottom: 0.4rem;
}

.exp-tag {
  font-size: 1.4rem;
  font-weight: 400;
  color: #777;
  padding-bottom: 1.8rem;
}

.exp-description {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #555;
}

/****************************************/
/* PROJECTS SECTION */
/****************************************/

.section-projects {
  background-color: #d1e3f3;
  padding: 4.2rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3.2rem;
}

.projects-details {
  grid-column: 2 / 3;
  padding: 4.2rem;
}

.projects-title {
  font-size: 3.4rem;
  font-weight: 600;
  color: #333;
  padding-bottom: 0.4rem;
}

.projects-tag {
  font-size: 1.4rem;
  font-weight: 400;
  color: #777;
  padding-bottom: 1.8rem;
}

.projects-description {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  color: #555;
}

/****************************************/
/* INTERESTS SECTION */
/****************************************/

/* .section-interests {
  background-color: #15aabf;
} */

/****************************************/
/* CONTACT SECTION */
/****************************************/

.section-contact {
  background-color: #d1e3f3;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
}

.contact-info {
  padding: 4.2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1.2rem;
  row-gap: 1.2rem;
  grid-auto-rows: 1.8rem;
}

.contact-icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: #333;
  z-index: 1;
}

.contact-item,
.contact-item:link,
.contact-item:visited {
  font-size: 1.4rem;
  color: #333;
}

.active-anchor:hover,
.active-anchor:active {
  border-bottom: 1px solid #333;
}

.contact-form {
  padding: 4.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
}

.row {
  display: flex;
  flex-direction: column;
}

.row-fullname,
.row-message {
  grid-column: 1 / 3;
}

.contact-label {
  font-size: 1.4rem;
  font-weight: 600;
  color: #555;
}

.contact-input {
  font-size: 1.4rem;
  line-height: 1.6;
  border: none;
  border-bottom: 1px solid #555;
  background-color: #d1e3f3;
}

/* .contact-input:hover,
.contact-input:active {
  border-bottom: 1px solid #1971c2;
} */

.contact-btn,
.contact-btn:visited {
  border: none;
  padding: 1.2rem;
  border-radius: 9px;
  background-color: #1971c2;
  font-size: 1.4rem;
  font-weight: 600;
}
